<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <title> Expedia Search</title>
    <style>
        .footer {
            position:fixed;
            bottom:0;
            width:100%;
            height:55px;
            background: #f2f2f2;
        }
    </style>
</head>
<body>

<nav class="navbar navbar-light bg-light">
    <div class="d-flex">
        <div class="p-2"><img src="https://images.squarespace-cdn.com/content/v1/57bb587c3e00be6b4cd50767/1545916486840-OT5D53PNL39K5TXDFY4V/expedia-icon.png" height="40" alt="logo" />
        </div>
        <div class="p-2"><h2>Expedia</h2></div>
    </div>

</nav>
<div style="text-align: center">
<h4>Sorry, Service is Temporarily Unavailable<br> Please Try Later</h4><br>
    <form th:action="@{/}" method="get">
        <button class="btn btn-primary " type="Submit">Back to Login</button>
    </form>
</div>

<footer class="footer" style="text-align: center">
    <div class=" text-muted" > <small>Expedia, Inc. is not responsible for content on external Web sites.
        &copy; 2021 Expedia, Inc, an Expedia Group company. All rights reserved. <br>Expedia and the Airplane Logo are trademarks or registered trademarks of Expedia, Inc.
    </small>
    </div>
</footer>



</body>
</html>



