<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Expedia Registration</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">


</head>
<body>


<nav class="navbar navbar-light bg-light">

    <div class="d-flex flex-row">
        <div class="p-2"><img src="https://images.squarespace-cdn.com/content/v1/57bb587c3e00be6b4cd50767/1545916486840-OT5D53PNL39K5TXDFY4V/expedia-icon.png" height="40" alt="logo" />
        </div>
        <div class="p-2"><h2>Expedia</h2></div>

    </div>
</nav>

<section class="vh-100 bg-image">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5">
                            <h4 class=" text-center mb-5">Create an account </h4>
                            <form autocomplete="off" action="#" th:action="@{/registration}"
                                  th:object="${user}" method="post" class="form-horizontal"
                                  role="form">

                                <div class="form-group">
                                    <label th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
                                           class="validation-message"></label>
                                    <input type="text" th:field="*{name}" placeholder="First Name"
                                           class="form-control form-control-lg"/>
                                </div>


                                <div class="form-group">
                                    <label th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"
                                           class="validation-message"></label>
                                    <input type="text" th:field="*{lastName}"
                                           placeholder="Last Name" class="form-control form-control-lg"/>
                                </div>

                                <div class="form-group">
                                    <input type="text" th:field="*{email}" placeholder="Email"
                                           class="form-control form-control-lg"/> <label
                                        th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                                        class="validation-message "></label>
                                </div>


                                <div class="form-group">
                                    <input type="password" th:field="*{password}"
                                           placeholder="Password" class="form-control form-control-lg"/> <label
                                        th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                                        class="validation-message"></label>
                                </div>
                                <div class="form-group">
                                    <p class="text-center text-muted mt-5 mb-0"><small>By creating an account, I agree to the Expedia Terms and Conditions, Privacy Statement and Expedia Rewards Terms and Conditions.</small></p>
                                    <button type="submit" class="btn btn-primary btn-block btn-lg gradient-custom-4 text-body">Register</button>
                                </div>
                                <h4><span class="text-success" th:utext="${successMessage}"></span></h4>
                            </form>


                            <form th:action="@{/}" method="get">
                                <p class="text-center text-muted mt-5 mb-0">Have already an account?</p>
                                <button class="btn btn-primary btn-block btn-lg gradient-custom-4 text-body" type="Submit">Login</button>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>