<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <title> Expedia Search</title>
    <style>
        .footer {
            position:fixed;
            bottom:0;
            width:100%;
            height:55px;
            background: #f2f2f2;
        }
    </style>
</head>
<body>

<nav class="navbar navbar-light bg-light">
    <div class="d-flex">
        <div class="p-2"><img src="https://images.squarespace-cdn.com/content/v1/57bb587c3e00be6b4cd50767/1545916486840-OT5D53PNL39K5TXDFY4V/expedia-icon.png" height="40" alt="logo" />
        </div>
        <div class="p-2"><h2>Expedia</h2></div>
    </div>
    <h5 style="text-align: center"><span th:utext="${username}"></span></h5>
    <div style="float: right">

        <form style="display: inline" th:action="@{/logout}" method="get">
            <button  class="btn btn-primary " name="registration" type="Submit">Logout</button>
        </form>
    </div>
</nav>
<center>
<h3> </h3>


<div class="card" style="width: 25rem;">
    <img src="https://previews.123rf.com/images/olegtoka/olegtoka2003/olegtoka200300056/143592409-cartoon-travel-and-journey-concept-icon.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title"> Your Booking is Successful</h5>
        <form style="display: inline" th:action="@{/flights/myBookings}" method="get">
            <button  class="btn btn-primary " name="myBookings" type="Submit">View My Bookings</button>
        </form>
    </div>
</div>

</center>

<footer class="footer" style="text-align: center">
    <div class=" text-muted" > <small>Expedia, Inc. is not responsible for content on external Web sites.
        &copy; 2021 Expedia, Inc, an Expedia Group company. All rights reserved. <br>Expedia and the Airplane Logo are trademarks or registered trademarks of Expedia, Inc.
    </small>
    </div>
</footer>

</body>
</html>